<h1>Create New Landmark</h1>

<form method="post">
  <input name="landmark[name]" id="name" type="text" placeholder="Name" value="<%=@landmark.name%>"/>
  <input name="landmark[year_completed]" id="year_completed" type="number" value="<%=@landmark.year_completed%>" placeholder="Year Compleated"/>
  <input type="submit" value="Edit Landmark" />
</form>
